/* Main styling */

@font-face {
  font-family: "catfiles";
  src: url(fonts/catfiles.ttf);
}

@font-face {
  font-family: "catboo";
  src: url(fonts/catboo.ttf);
}

@font-face {
  font-family: "catcomic";
  src: url(fonts/catcomic.ttf);
}

:root {
  --beige: #D0C8C0;
  --pink: #C29378;
  --pink-transparent: rgba(194, 147, 120, 0.5);
  --orange: #EEA53A;
  --brown: #6D5F48;
  --active: #4762D4;
  --valid: #6E885C;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--beige);
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.italic {
  font-style: italic;
}

a:link {
  text-decoration: none;
}

/* Banner */

.banner {
  background-image: url(images/banner.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

h1 {
  margin: 0;
  width: 100%;
  height: 15%;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  color: var(--orange);
  font-family: "catfiles", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 img {
  height: 50%;
}

/* Header */

h2 {
  text-align: center;
  font-family: "catcomic", sans-serif;
  font-weight: 100;
  padding: 5%;
}

/* Form */

form {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5%;
  margin: 5%;
}

fieldset {
  width: 100%;
}

form, fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

fieldset p {
  width: 50%;
  display: flex;
  flex-direction: column;
}

legend {
  font-family: "catboo";
  padding-left: 15%;
}

label, p, .sign-in, button {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  border: rgb(184, 184, 184);
  border-radius: 3px;
  height: 25px;
}

input:active {
  border: 2px solid var(--active);
}

input::placeholder {
  color: #424242;
}

.valid {
  color: var(--valid);
  display: none;
}

.invalid {
  color: var(--orange);
  display: none;
}

.info {
  font-size: smaller;
  display: inline;
}

p i {
  font-size: xx-small;
  color: var(--brown);
}

button {
  border: 2px solid var(--orange);
  border-radius: 5px;
  background-color: var(--pink);
  padding: 1%;
  color: white;
  font-weight: bold;
  font-size: large;
}

/* Sign in */

.sign-in {
  text-align: center;
}

/* Footer */

footer {
  height: 3%;
  text-align: center;
  bottom: 0;
  margin: 0;
  margin-top: auto;
  background-color: var(--pink-transparent);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-weight: bold;
}

/* Desktop media query */

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
  }

  .banner {
    width: 100%;
  }

  fieldset {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  fieldset p {
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .info {
    text-align: center;
  }

  footer {
    height: 5%;
  }
}
